* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}
#text{
    position: fixed;
    height: 45vh;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
}
#text::-webkit-scrollbar{
    display: none;
}
#skin{
    position: fixed;
    height: 55vh;
    bottom: 0;
    left: 0;
    width: 100%;
}
#style{
    display: none;
}
#button {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#button > button{
    padding: 0 10px;
    margin: 5px;
}
